body {
    margin-top: 15px;
}

#jsCanvasGraph {
    width: 100%;
    height: calc(100vh - 30px);
}

#loadBtn {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}